// .app-wrapper {
//   height: 100vh;
//   width: 100vw;

//   display: flex;

//   &__left {
//     flex: 0 0 16rem;
//   }
//   &__right {
//     flex: 0 0 calc(100% - 16rem);

//     display: flex;
//     flex-flow: column;
//   }
// }
.app-wrapper {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: min-content 1fr;

  grid-template-areas:
    'sidebar navbar'
    'sidebar active';

  @media only screen and (max-width: 930px) {
    grid-template-areas:
      'navbar navbar'
      'sidebar active';
  }
}

.sidebar {
  grid-area: sidebar;
}

.topnavbar {
  grid-area: navbar;
}

.active__event {
  grid-area: active;
}
